<div class="comment-area">
    <h2>RECENT COMMENTS</h2>
    <ul>
        <li>
            <div class="img">
                <img src="{{ asset('front/images/user-01.jpg') }}" alt="img">
            </div>
            <div class="content">
                <div class="title">
                    <h5>Omar Elnagar</h5>
                    <span>September 13, 2018 at 10:38 AM</span>
                </div>
                <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
                <a class="reply" href="#"><i class="fa-solid fa-reply"></i> REPLY</a>
            </div>

            <ul>
                <li>
                    <div class="img">
                        <img src="{{ asset('front/images/user-01.jpg') }}" alt="img">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h5>Omar Elnagar</h5>
                            <span>September 13, 2018 at 10:38 AM</span>
                        </div>
                        <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
                        <a class="reply" href="#"><i class="fa-solid fa-reply"></i> REPLY</a>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="img">
                <img src="{{ asset('front/images/user-01.jpg') }}" alt="img">
            </div>
            <div class="content">
                <div class="title">
                    <h5>Omar Elnagar</h5>
                    <span>September 13, 2018 at 10:38 AM</span>
                </div>
                <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
                <a class="reply" href="#"><i class="fa-solid fa-reply"></i> REPLY</a>
            </div>

            <ul>
                <li>
                    <div class="img">
                        <img src="{{ asset('front/images/user-01.jpg') }}" alt="img">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h5>Omar Elnagar</h5>
                            <span>September 13, 2018 at 10:38 AM</span>
                        </div>
                        <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
                        <a class="reply" href="#"><i class="fa-solid fa-reply"></i> REPLY</a>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="{{ asset('front/images/user-01.jpg') }}" alt="img">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h5>Omar Elnagar</h5>
                            <span>September 13, 2018 at 10:38 AM</span>
                        </div>
                        <p>They call him Flipper Flipper faster than lightning. No one you see is smarter than he. They call him Flipper Flipper the faster than lightning. No one you see is smarter than he</p>
                        <a class="reply" href="#"><i class="fa-solid fa-reply"></i> REPLY</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>