
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

$title-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

$primary-color: #f70d28;
$body-color: #666666;
$title-color: #212428;
$border-color: #e9e9e9;




