.sidebar {
    .sidebar-item {
        padding: 30px;
        margin-bottom: 30px;
        border: 1px solid $border-color;

        .sidebar-title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-bottom: 18px;
            border-bottom: 1px solid #e9e9e9;
        }

        // Sidebar Category;
        .sidebar-category {
            ul {
                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: $body-color;

                        span {
                            display: block;

                            &:last-child {
                                margin-left:  auto;
                            }
                        }

                        &::before {
                            display: inline-block;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            font: var(--fa-font-solid);
                            content: "\f30b";
                            font-size: 10px;
                            padding-right: 5px;
                        }
                    }
                }
            }
        }

        // Popular post;
        .sidebar-popular-post {
            .post-item {
                display: flex;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                .img {
                    width: 100px;
                    height: 85px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    width: calc(100% - 100px);
                    padding-left: 10px;

                    a {
                        display: block;

                        &.category {
                            font-size: 12px;
                            color: $body-color;
                            transition: all .3s;

                            &:hover {
                                color: $title-color;
                            }
                        }

                        &.title {
                            font-size: 13px;
                            color: $title-color;
                            font-weight: 600;
                            font-family: $title-font;
                            transition: all .3s;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }

                    .calendar {
                        display: flex;
                        align-items: center;
                        margin-top: 5px;

                        i {
                            color: $primary-color;
                            font-size: 11px;
                        }

                        span {
                            padding-left: 5px;
                            color: $body-color;
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        // Subscribe;
        .subscribe-area {
            p {
                font-size: 14px;
                line-height: 26px;
            }

            form {
                input {
                    width: 100%;
                    margin-bottom: 15px;
                    display: block;
                    border: 1px solid $border-color;
                    padding: 10px;
                }

                button {
                    background: #1c1c21;
                    padding: 15px 50px;
                    border: 0;
                    color: #ffffff;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    transition: all .3s;

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }

        // Most visited;
        .most-visited {
            .info {
                display: flex;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 10px;
        
                .date,
                .comment {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    font-size: 12px;
        
                    span {
                        display: inline-block;
                        padding-left: 8px;
                    }
                }
            }

            h4 {
                a {
                    font-size: 16px;
                    color: $title-color;
                    font-family: $title-font;
                    transition: all .3s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        // Popular tags;
        .popular-tags {
            display: flex;
            flex-wrap: wrap;

            li {
                 a {
                    color: #666;
                    border: 1px solid #e9e9e9;
                    font-size: 13px;
                    padding: 10px 15px;
                    display: inline-block;
                    margin-bottom: 9px;
                    margin-right: 7px;
                    transition: all .3s;

                    &:hover {
                        background-color: $title-color;
                        color: #fff;
                        border-color: transparent;
                    }
                }
            }
        }

    }
}